.avatar img{
	border-radius: 20px;
	height: 35px;
	width: auto;
}

.avatar span{
	line-height: 35px;
    height: 35px;
    margin-left: 10px;
    float: right;
}

ul.tp-cat-list li{
	padding-left: 25px;
	list-style: none;
}


.tp-cat-list-add{
	border-bottom: 3px dotted transparent;
}

.tp-cat-list-add:hover{
	border-bottom: 3px dotted #eee;
	cursor: pointer;
}

.tp-menu ul li{
	display: inline;
	margin-right: 10px;
}

.tp-menu ul li:after{
	content: '\2022';
    font-size: 1.65em;
    vertical-align: middle;
    margin-left: 10px;
}

.tp-menu ul li:last-child:after{
	content: '';
}