body {
	margin: 20px 40px;
}

.avatar img{
	border-radius: 20px;
	height: 35px;
	width: auto;
}

.avatar span{
	line-height: 35px;
    height: 35px;
    margin-left: 10px;
    float: right;
}

ul.tp-cat-list li{
	padding-left: 25px;
	list-style: none;
}

ul.tp-cat-list li div.drag {
	width: 20px;
	display: inline-block;
	color: #777;
	cursor: move;
}

ul.tp-cat-list li p {
	display: inline-block;
}

.hidden{
	
}


.tp-menu ul li{
	display: inline;
	margin-right: 10px;
}

.tp-menu ul li:after{
	content: '\2022';
    font-size: 1.65em;
    vertical-align: middle;
    margin-left: 10px;
}

.tp-menu ul li:last-child:after{
	content: '';
}

.tp-lanc-table >tbody>tr>td{
	border: 1px solid #fafafa;
}

.sv-table>tbody>tr>td.selected{
	border: 3px solid cornflowerblue;
}

.drop-zone {
	display: inline-block;
	width: 100%;
	height: 25px;
	background-color: #f8f8f8;
}


.dz {
	height: 6px;

}

.dz-sibling {
	min-height: 5px;
	width: 40px;
	display: inline-block;
}

.dz-nested {
	height: 5px;
	width: 200px;
	display: inline-block;
}

.dz-over {
	height: 25px;
	background-color: #f8f8f8;
	border: 1px dashed #ccc;
}


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


.sv-table>tbody>tr>td.currency{
	text-align: right;
}

.sv-table>thead>tr>th.currency{
	text-align: right;
}

.lancamento-data-col {
	width: 10%;
}

.lancamento-descricao-col {
	width: 50%;
}

.lancamento-categoria-col {
	width: 15%;
}

.lancamento-meio-pagamento-col {
	width: 15%;
}

.lancamento-valor-col {
	width: 10%;
}


.cat-card >	header > h4 {
	font-size: .95em;
}

.cat-card >	main {
	text-align: right;
	font-size: 1.65em;
}


.page-title {
	font-size: 1.9em;
}

h3.section-title {
	font-size: 0.87em;
	text-transform: uppercase;
	font-weight: 600;
	color: #cccccc;
	padding-bottom: 4px;
}